body {
    background-color: white;
    min-height: 100vh;
}

.gtlo-title {
    color: #333;
    font-size: 200%;
}

.gtlo-title span {
    color: #33aaff;
}

.hero img {
    position: relative;
    width: 100%
}

.hero .curtain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.section.news {
    background-color: #33aaff;
}